---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import settings from "../data/settings";

const title = settings.title;
const description = settings.description;

const seo = {
  title: title,
  description: description
}
---

<Layout
  seo={seo}
>
  <Container class="flex flex-col items-start">
    <div class="flex flex-col items-start space-y-8">
      <div class="w-16 h-16 p-0 m-0 overflow-hidden rounded-full">
        <img class="object-contain p-0 m-0" src="/logo.png" alt="Dabble Logo" />
      </div>
      <h1 class="text-2xl md:text-4xl font-display">Software for people making things</h1>
      <article class="prose-lg">
        <p><Link href="/">{title}</Link> is a product studio building apps that inspire and empower creative people to do their thing.</p>
        <p>Coming Soon: <Link href="https://bobbin.app">Bobbin</Link>, an app for sewists</p>
      </article>
      <Button href="mailto:mail@dabble.fyi">Get in touch</Button>
    </div>
    
  </Container>
</Layout>
