---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import settings from "../data/settings";

const title = settings.title;
const description = settings.description;

const seo = {
  title: title,
  description: description
}
---

<Layout
  seo={seo}
>
  <Container class="flex flex-col items-start">
    <div class="flex flex-col items-start space-y-8">
      <div class="w-16 h-16 overflow-hidden rounded-full">
        <img class="object-contain" src="/logo.png" alt="Dabble Logo" />
      </div>
      <h1 class="text-3xl text-left font-display md:text-4xl ">Software for people making things</h1>
      <p class="text-lg text-left text-neutral-600 dark:text-neutral-400">
        <Link href="/">{title}</Link> is a Brooklyn-based product studio building apps that help people explore, create, and share things they make.
      </p>
      <p class="text-lg text-left text-neutral-600 dark:text-neutral-400">
        Coming Soon:<br/> <Link href="https://bobbin.app">Bobbin</Link>, an app for sewists
      </p>
      <Button href="mailto:mail@dabble.fyi">Get in touch</Button>
    </div>
    
  </Container>
</Layout>
