---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import settings from "../data/settings";

const title = settings.title;
const description = settings.description;

const seo = {
  title: title,
  description: description
}
---

<Layout
  seo={seo}
>
  <Container class="flex flex-col items-start">
    <div class="flex flex-col items-start space-y-8">
      <div class="relative w-16 h-16 p-0 m-0 overflow-hidden rounded-full">

        <img class="absolute inset-0 z-0 p-0 m-0 animate-spin-slow" src="/dabble-bg.png" alt="Dabble Logo" />
        <img class="relative z-10 object-contain p-0 m-0" src="/dabble-clear.png" alt="Dabble Logo" />
      </div>
      <h1 class="text-4xl leading-tight md:text-5xl font-display md:leading-tight">Software for the pursuit of the creative self</h1>
      <article class="prose-base md:prose-lg">
        <p><Link href="/">{title}</Link> is a product studio building apps that inspire and empower people to pursue their creative interests.</p>
        <p>Coming Soon: <Link href="https://bobbin.app">Bobbin</Link>, an app for sewists</p>
      </article>
      <Button href="mailto:mail@dabble.fyi">Get in touch</Button>
    </div>
    
  </Container>
</Layout>
