---
const { href } = Astro.props;
---

<a href={href} class="px-4 py-2 font-semibold prose-sm no-underline rounded-md bg-vulcan-300 dark:bg-vulcan-700 hover:bg-vulcan-200 dark:hover:bg-vulcan-600">
    <slot />    
</a>
