---
const { href } = Astro.props;
---

<a href={href} class="px-4 py-2 font-semibold no-underline rounded-md bg-neutral-300 dark:bg-neutral-700 hover:bg-neutral-200 dark:hover:bg-neutral-600">
    <slot />
</a>
