---
import settings from "../data/settings";
---

<footer class="flex h-16 px-4 md:px-8">
    <p class="prose-sm text-neutral-500">
        &copy; {new Date().getFullYear()} {settings.name}
    </p>
</footer>
