---
import settings from "../data/settings";
---

<footer class="flex items-center justify-center h-16">
    <p class="text-sm text-neutral-500">
        &copy; {new Date().getFullYear()} {settings.name}
    </p>
</footer>
