---
const {href} = Astro.props;
---

<a href={href} class="text-neutral-600 dark:text-neutral-400 underline hover:text-neutral-800 dark:hover:text-neutral-200 decoration-neutral-400 dark:decoration-neutral-600 hover:decoration-neutral-600 dark:hover:decoration-neutral-400">
<slot/></a>

