---
const {href} = Astro.props;
const {external} = Astro.props;
---

<a 
  href={href} 
  target={external ? "_blank" : undefined} 
  rel={external ? "noopener noreferrer" : undefined}
  class="no-underline hover:underline"
><slot/></a>

