---
import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...seo} />
    <slot name="head-bottom" />
  </head>
  <body class="flex flex-col max-w-3xl mx-auto font-mono antialiased prose text-black bg-white min-h-dvh dark:bg-black dark:text-white dark:prose-invert prose-neutral">

    <slot name="header" />
    <main class="grow">
      <slot />
    </main>
    <Footer/>
  </body>
</html>
