---
import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...seo} />
    <slot name="head-bottom" />
  </head>
  <body class="flex flex-col max-w-3xl mx-auto font-mono antialiased prose bg-gradient-to-b from-vulcan-50 to-vulcan-200 min-h-dvh dark:from-vulcan-800 dark:to-vulcan-950 dark:prose-invert prose-dabble">
    <slot name="header" />
    <main class="grow">
      <slot />
    </main>
    <Footer/>
  </body>
</html>
